menu "CAN drivers"

config CAN_TI_DCAN
       depends on C2000 || ARM
       bool "TI DCAN"

config CAN_ATSAM3X
       depends on ARM
       bool "ATSAM3x series CAN"

config CAN_NXP_FLEXCAN
       depends on POWERPC || ARM
       bool "NXP FlexCAN CAN"

endmenu
