menu "CAN drivers"

config CAN_TI_DCAN
       depends on C2000 || ARM
       bool "TI DCAN"

config CAN_ATSAM3X
       depends on ARM
       bool "ATSAM3x series CAN"

config CAN_NXP_FLEXCAN
       depends on POWERPC || ARM
       bool "NXP FlexCAN CAN"

config CAN_BOSCH_MCAN
       depends on POWERPC || ARM
       bool "BOSCH M_CAN support"
       help
         Boscch M_CAN IP, used on various MCUs like STM32H7 series
	 and Atmel SAMV70 series, among others

endmenu
