menu "RISC-V architecture"
     depends on RISCV

choice
        prompt "CPU series"
        default RV32IMAC

config RV32IMAC
       bool "RISC-V RV32IMAC series"

config RV32EC
       bool "RISC-V RV32EC series"

endchoice

source arch/riscv/rv32imac/Kconfig
source arch/riscv/rv32ec/Kconfig

endmenu
