menu "Clock drivers"

config CLOCK_LGT8FX8P
       depends on AVR
       bool "LogicGreen LGT8FX8P clock"

config CLOCK_STM32F10XXX
       depends on ARM
       bool "STMicro STM32F10xxx series clock"

config CLOCK_STM32F401X
       depends on ARM
       bool "STMicro STM32F401x series clock"

config CLOCK_STM32L4X
       depends on ARM
       bool "STMicro STM32L4x series clock"

config CLOCK_STC12C5AXX
       depends on 8051
       bool "STC MCU STC12C5Axx series clock"

config CLOCK_CH32V003
       depends on RISCV
       bool "WCH CH32V003 series clock"

endmenu
