menu "Device configuration"

source devices/atmel/Kconfig
source devices/gigadevice/Kconfig
source devices/microchip/Kconfig
source devices/raspberry/Kconfig
source devices/ti/Kconfig

config EXECUTE_IN_PLACE
       bool "Execute in place (XIP)"
       default y

endmenu
