choice
	prompt "Architecture select"
	default ARM

config 8051
       bool "8051 architecture"

config ARM
       bool "ARM architecture"

config AVR
       bool "AVR8 architecture"

config C2000
       bool "C2000 architecture"

config HCS08
       bool "HCS08 architecture"

config MIPS
	bool "MIPS architecture"

config POWERPC
	bool "PowerPC architecture"

config RISCV
	bool "RISC-V architecture"

config STM8
        bool "STM8 architecture"

config PTHREAD
	bool "PTHREAD simulation"

config WIN32
        bool "WIN32 simulation"

endchoice

config CC
       string
       default "gcc" if ARM || AVR || MIPS || POWERPC || RISCV || PTHREAD || WIN32
       default "sdcc" if 8051 || HCS08 || STM8
       default "cl2000" if C2000

source "arch/8051/Kconfig"
source "arch/arm/Kconfig"
source "arch/avr/Kconfig"
source "arch/c2000/Kconfig"
source "arch/hcs08/Kconfig"
source "arch/mips/Kconfig"
source "arch/powerpc/Kconfig"
source "arch/riscv/Kconfig"
source "arch/stm8/Kconfig"
source "arch/pthread/Kconfig"
