CONFIG_TICK_HZ=1000
CONFIG_EXTRA_CFLAGS=""
CONFIG_CC_NO_OPTIMIZATION=y
CONFIG_FUTEX=y
CONFIG_DEADLOCK_COUNT=1000
CONFIG_LDSCRIPT=""
CONFIG_QUEUE=y
CONFIG_DEFAULT_STACK_COUNT=256
CONFIG_MUTEX=y
CONFIG_SYSCLK_HZ=100000000
CONFIG_MACH_RP2040=y
CONFIG_SINGLE_CORE=y
CONFIG_TASK_COUNT=5
CONFIG_COND=y
CONFIG_EXTRA_LDFLAGS=""
CONFIG_DEBUG=y
CONFIG_CROSS_COMPILE=""
