menu "ADC drivers"

config ADC_GD32VF103
       depends on RISCV
       bool "GD32VF103 series ADC"

config ADC_NXP_EQADC
       depends on POWERPC
       bool "NXP eQADC"

config ADC_MC9S08PTXX
       depends on HCS08
       bool "NXP MC9S08PTxx series ADC"

endmenu
