menu "ADC drivers"

config ADC_GD32VF103
       depends on RISCV
       bool "GD32VF103 series ADC"

config ADC_NXP_EQADC
       depends on POWERPC
       bool "NXP eQADC"

config ADC_NXP_SAR
       depends on POWERPC
       bool "NXP MPC56/57xx series SAR ADC"

endmenu
