choice
	prompt "ARMV6-M device"
	depends on ARMV6M

config MACH_RP2040
       bool "Raspberry RP2040"
       
endchoice

config MPU_PMSAV6
	bool "MPU support (EXPERIMENTAL)"
	depends on ARMV6M
        default n
	select MPU
