menu "8051 architecture"
     depends on 8051

choice
        prompt "MCU series"
        default MACH_UCSIM51

config MACH_UCSIM51
       bool "SDCC uCSim_51"

config MACH_N76E003
       bool "Nuvoton N76E003 Series"

config MACH_CY7C6801xA
       bool "Cypress CY7C6801xA Series"

config MACH_STC12C5AXX
       bool "STC MCU STC12CA5xx Series"

endchoice

config XDATA_SIZE
       int "Amount of RAM allocated for XDATA"
       depends on MACH_CY7C6801xA
       default 2048

choice
        prompt "N76E003 System Timer"
        default N76E003_TIMER_WKT
        depends on MACH_N76E003

config N76E003_TIMER_T2
       bool "Use T2 timer"
       help
         Beware, the max TICK_HZ on this system is 500Hz

config N76E003_TIMER_WKT
       bool "Use Wakeup timer"
       help
         Beware, the max TICK_HZ with this option is 100Hz

endchoice

config SYSCLK_HZ
       int "Main clock frequency"
       depends on MACH_STC12C5AXX
       default 22100000

config SYSCLK_DIV
       int "Clock source divider (1-128)"
       range 1 128
       default 1
       depends on MACH_STC12C5AXX

endmenu
