choice
        prompt "Device selection"
        default DEVICE_CUSTOM

config DEVICE_CUSTOM
       bool "Custom device"

config DEVICE_ATMEGA2560
       bool "Atmel ATMega2560"
       depends on AVR && ATMEGA
       select EXECUTE_IN_PLACE
 
config DEVICE_ATMEGA328P
       bool "Atmel ATMega328P"
       depends on AVR && ATMEGA
       select EXECUTE_IN_PLACE
 
config DEVICE_ATMEGA32U4
       bool "Atmel ATMega32u4"
       depends on AVR && ATMEGA
       select EXECUTE_IN_PLACE
        
config DEVICE_ATSAM3X8E
       bool "Atmel ATSAM3X8E"
       depends on ARM && ARM_CORTEX_M3

config DEVICE_ATSAMD51
       bool "Atmel ATSAMD51"
       depends on ARM && ARM_CORTEX_M4F
       select CMCC
       
config DEVICE_ATTINY1607
       bool "Atmel ATTiny1607"
       depends on AVR && ATTINY
       select EXECUTE_IN_PLACE
 
config DEVICE_ATTINY817
       bool "Atmel ATTiny817"
       depends on AVR && ATTINY
       select EXECUTE_IN_PLACE
       
endchoice

source devices/atmel/atsamd51/Kconfig

config LDSCRIPT
       string "Linker script"
       default atmel-custom.ld
       depends on DEVICE_CUSTOM

config STARTUP
       string "Startup file"
       default atmel-custom_startup.S
       depends on DEVICE_CUSTOM
