menu "UART drivers"

config UART_N76E003
       depends on 8051
       bool "Nuvoton N76E003 series UART"

config UART_8051
       depends on 8051
       bool "8051-compatible UART"

config UART_8051_IRQDRIVEN
       depends on UART_8051
       bool "Support for IRQ-driven options"

config UART_MC9S08PTXX
       depends on HCS08
       bool "NXP MC9S08PTxx series SCI UART"

endmenu
