menu "AVR8 architecture"
     depends on AVR

config ATTINY
       bool
       
config ATMEGA
       bool

choice
        prompt "Select device"

config MACH_ATMEGA2560
       bool "Atmel ATMega2560"
       select ATMEGA

config MACH_ATMEGA328P
       bool "Atmel ATMega328p"
       select ATMEGA
       
config MACH_ATMEGA32U4
       bool "Atmel ATMega32u4"
       select ATMEGA
       
config MACH_ATTINY88
       bool "Atmel ATTiny88"
       select ATTINY
       
config MACH_ATTINY414
       bool "Atmel ATTiny414"
       select ATTINY
       
config MACH_ATTINY817
       bool "Atmel ATTiny817"
       select ATTINY

config MACH_ATTINY1607
       bool "Atmel ATTiny1607"
       select ATTINY

config MACH_LGT8FX8P
       bool "LogicGreen LGT8FX8P"
       select ATMEGA

endchoice

config SYSCLK_HZ
       int "Main clock frequency"
       depends on MACH_ATMEGA2560 || MACH_ATMEGA328P || \
                  MACH_ATMEGA32U4 || MACH_ATTINY88
       default 16000000

endmenu
