menu "MUX drivers"

config MUX_8051
       depends on 8051
       bool "8051-compatible MUX"

config MUX_N76E003
       depends on 8051
       bool "Nuvoton N76E003 series MUX"

config MUX_STM32F10XXX
       depends on ARM
       bool "STMicro STM32F10XXX series MUX"

config MUX_WCH_CH32X
       depends on RISCV
       bool "WCH CH32x series MUX"

endmenu
